<ion-header>
  <ion-toolbar>
    <ion-title>Noticias Hacking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="primary">

  <ion-card *ngFor="let noticia of noticias" (click)="redirecionaNoticia(noticia.titulo, noticia.noticia, noticia.img)">
    <ion-card-header>
      <ion-card-title>{{ noticia.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ noticia.descricao }}
    </ion-card-content>
  </ion-card>

</ion-content>
